/**
 * Responsive font sizes global CSS utility classes.
 *
 * Replaces https://tailwindcss.com/docs/font-size
 * Uses https://github.com/twbs/rfs
 * Follows nomenclature from https://tailwindcss.com/docs/width/
 *
 * TODO Write a utility plugin instead ?
 * See https://tailwindcss.com/docs/plugins#responsive-and-pseudo-class-variants
 */

.rfs-0 {
  font-size: 0;
}
.rfs-1 {
  responsive-font-size: theme("spacing.1");
}
.rfs-2 {
  responsive-font-size: theme("spacing.2");
}
.rfs-3 {
  responsive-font-size: theme("spacing.3");
}
.rfs-4 {
  responsive-font-size: theme("spacing.4");
}
.rfs-5 {
  responsive-font-size: theme("spacing.5");
}
.rfs-6 {
  responsive-font-size: theme("spacing.6");
}
.rfs-8 {
  responsive-font-size: theme("spacing.8");
}
.rfs-10 {
  responsive-font-size: theme("spacing.10");
}
.rfs-12 {
  responsive-font-size: theme("spacing.12");
}
.rfs-16 {
  responsive-font-size: theme("spacing.16");
}
.rfs-20 {
  responsive-font-size: theme("spacing.20");
}
.rfs-24 {
  responsive-font-size: theme("spacing.24");
}
.rfs-32 {
  responsive-font-size: theme("spacing.32");
}
.rfs-40 {
  responsive-font-size: theme("spacing.40");
}
.rfs-48 {
  responsive-font-size: theme("spacing.48");
}
.rfs-56 {
  responsive-font-size: theme("spacing.56");
}
.rfs-64 {
  responsive-font-size: theme("spacing.64");
}
